* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #000000
}

.banner, .hoofding {
    background-color: #ABD7A8;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

th {
    border: solid black 1px;
    color: #FFFFFF;
    background-color: #ABD7A8;
}

td {
    border: solid black 1px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #FAFABA;
}

tr:nth-child(even) {
    background-color: #ABD7A8;
}

.logo {
    width: 40%;
    height: 40%;
}

#storing {
    color: white;
    background: red;
}

button {
    background-color: #ABD7A8;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 6px 10px;
}

button:is(:hover, :focus) {
    background-color: #3e8e41;
}

button:active {
    background-color: #3ecc41;
}

input.aantalGoedgekeurd {
    font-size: 24px;  /* Adjust the text size if necessary */
}

#totaalDiv {
    align-content: end;
    padding-right: 2%;
    font-weight: bolder;
    font-size: 50px;
}


#bestellingenTabel th {
    font-size: 50px;
}

#bestellingenTabel {
    width: 100%;
    margin-top: 2%;
}

#bestellingenTabel th, #bestellingenTabel td {
    padding: 2%;
}

#bestellingenTabel td {
    font-size: 40px;
    font-weight: bolder;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

#storingTv {
    font-size: 70px;
    font-weight: bolder;
    padding: 2%;
    color: white;
    background: red;
    margin-top: 1%;
}

#bovenPaginaContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#artikelOverzichtContainer th, #artikelOverzichtContainer td {
    padding: 8px;
}

#hoofdcontainer {
    padding: 1%;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

#buttons button {
    width: 500px;
    height: 300px;
    font-size: xxx-large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 100px 2em 2em;
}

#tabelBestellingen, #tabelLeveringsBonValidatie, #tabelLeveringsBon {
    margin-top: 1%;
}

#checkbox{
    width : 20%;
}

#tabelBestellingen th, #tabelLeveringsBonValidatie th,
#tabelBestellingen td, #tabelLeveringsBonValidatie td,
#tabelLeveringsBon th, #tabelLeveringsBon td {
    padding : 1%;
}

#leveringsbonHeader {
    text-align: center;
    margin-top: 10%;
}
#inputDiv {
    font-size: xx-large;
    display: grid;
    grid-template-columns: 50% 0.5fr;
    grid-gap: 16px;
    margin: 10%;
    margin-top: 5%;
    padding-left:10%;
    text-align: right;
}
label {
    grid-column: 1 / 2;
}
input {
    grid-column: 2 / 3;
}
#buttonDiv {
    text-align: center;
}
#toevoegen {
    width: 20%;
    height: 20%;
}